apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
labels:
  - includeSelectors: true
    pairs:
      env: prod
namespace: prod
nameSuffix: -prod
resources:
  - ../../base
replicas:
  - name: nginx
    count: 2
images:
  - name: nginx
    newTag: '1.23'
