apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
spec:
  template:
    spec:
      containers:
        - name: nginx
          resources:
            limits:
              cpu: 100m
              memory: "512M"
          env:
          - name: LOG_LEVEL
            value: "DEBUG"
